In [8]:
import apc
import pandas as pd

In [9]:
import warnings
warnings.simplefilter('ignore',FutureWarning)

In [12]:
data1=pd.read_excel('hello/APC_input2.xlsx',sheet_name='cons')
data1

  Unnamed: 0    1984    1989    1994    1999    2004    2009    2014
0      20-24  189738  216419  222376  222474  240871  214391  208079
1      25-29  214464  239756  259780  255069  264693  244514  244721
2      30-34  229027  260379  284900  273907  271173  268341  264612
3      35-39  250685  278387  310150  305388  285383  277422  273890
4      40-44  274493  309196  342825  339496  319730  304377  293279
5      45-49  311300  362024  410145  398969  380973  354878  331702
6      50-54  332249  384022  430353  428643  406448  382914  370718
7      55-59  322403  358767  403242  393574  380031  352143  364284
8      60-64  285147  313236  356426  356253  333662  319981  313961
9      65-69  248900  298151  328992  323616  309529  300190  293416

In [13]:
data2=pd.read_excel('hello/APC_input2.xlsx',sheet_name='unemp')
data2

  Unnamed: 0  1984  1989  1994  1999  2004  2009  2014
0      20-24   2.7   2.2   2.8   4.8   4.9   5.3   3.7
1      25-29   2.7   2.2   2.8   4.8   4.9   5.3   3.7
2      30-34   2.7   2.2   2.8   4.8   4.9   5.3   3.7
3      35-39   2.7   2.2   2.8   4.8   4.9   5.3   3.7
4      40-44   2.7   2.2   2.8   4.8   4.9   5.3   3.7
5      45-49   2.7   2.2   2.8   4.8   4.9   5.3   3.7
6      50-54   2.7   2.2   2.8   4.8   4.9   5.3   3.7
7      55-59   2.7   2.2   2.8   4.8   4.9   5.3   3.7
8      60-64   2.7   2.2   2.8   4.8   4.9   5.3   3.7
9      65-69   2.7   2.2   2.8   4.8   4.9   5.3   3.7

In [16]:
data={'response': data1, 'rate': data2}
data

{'response':   Unnamed: 0    1984    1989    1994    1999    2004    2009    2014
 0      20-24  189738  216419  222376  222474  240871  214391  208079
 1      25-29  214464  239756  259780  255069  264693  244514  244721
 2      30-34  229027  260379  284900  273907  271173  268341  264612
 3      35-39  250685  278387  310150  305388  285383  277422  273890
 4      40-44  274493  309196  342825  339496  319730  304377  293279
 5      45-49  311300  362024  410145  398969  380973  354878  331702
 6      50-54  332249  384022  430353  428643  406448  382914  370718
 7      55-59  322403  358767  403242  393574  380031  352143  364284
 8      60-64  285147  313236  356426  356253  333662  319981  313961
 9      65-69  248900  298151  328992  323616  309529  300190  293416,
 'rate':   Unnamed: 0  1984  1989  1994  1999  2004  2009  2014
 0      20-24   2.7   2.2   2.8   4.8   4.9   5.3   3.7
 1      25-29   2.7   2.2   2.8   4.8   4.9   5.3   3.7
 2      30-34   2.7   2.2   2.8   4.8   4.9   5.3   3.7
 3      35-39   2.7   2.2   2.8   4.8   4.9   5.3   3.7
 4      40-44   2.7   2.2   2.8   4.8   4.9   5.3   3.7
 5      45-49   2.7   2.2   2.8   4.8   4.9   5.3   3.7
 6      50-54   2.7   2.2   2.8   4.8   4.9   5.3   3.7
 7      55-59   2.7   2.2   2.8   4.8   4.9   5.3   3.7
 8      60-64   2.7   2.2   2.8   4.8   4.9   5.3   3.7
 9      65-69   2.7   2.2   2.8   4.8   4.9   5.3   3.7}

In [17]:
model=apc.Model()
model.data_from_df(data)

ValueError: `response` must be pandas DataFrame.